<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >
                        <img height="500px" src="https://cdn.w600.comps.canstockphoto.com/happy-doctor-character-eps-vectors_csp21902431.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>Dr.Vivek H. Nandhakumar</b></h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary"><b>Anesthesiologists</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="500px" src="https://img.freepik.com/premium-vector/nice-good-looking-young-doctor-standing-show-thumb-up_97632-3425.jpg?w=2000" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>Dr.Sandheep Kumar</b></h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary"><b>Cardiologists</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >
                        <img height="500px" src="https://previews.123rf.com/images/jemastock/jemastock1702/jemastock170202797/71262968-old-man-medical-doctor-cartoon-icon-over-white-background-colorful-desing-vector-illustration.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>Dr.Ameer K.A</b></h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary"><b>Gastroenterologists</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >
                        <img height="500px"src="https://st2.depositphotos.com/3280929/6099/v/600/depositphotos_60994299-stock-illustration-female-doctor-with-clipboard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>Dr.Asha Ravindran</b></h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary"><b>Nephrologists</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >
                        <img height="500px"src="https://thumbs.dreamstime.com/b/male-doctor-standing-arms-crossed-isolated-vector-illustartion-male-doctor-set-150309042.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>Dr.Antonia Novello</b></h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary"><b>Neurologists</b> </a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    
                    <div class="card" >
                        <img height="500px"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScAl-7wEdzugYfc_xZrgpZiACaB_Ltlgjri8Av_FnmOLTS5QqzN8ZfF1yqRmmDWng81TQ&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>Dr.Peter Stone</b></h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary"><b>Ophthalmologists</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    
                    <div class="card" >
                        <img height="500px"src="https://static.vecteezy.com/system/resources/previews/002/896/807/original/female-doctor-using-her-digital-tablet-free-vector.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>Dr.Mary Edwards </b></h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary"><b>Pediatricians</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    
                    <div class="card" >
                        <img height="500px"src="https://www.medicahospitals.in/wp-content/uploads/2021/08/blank-doctor-2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>Dr.Rama Krishnan</b></h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary"><b>Rheumatologists</b> </a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="500px"src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX21052887.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>Dr.Rekha </b></h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">General Surgeons</a>
                        </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

