<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://thumbs.dreamstime.com/z/front-side-view-hospital-doctor-nurse-patient-ambulance-nature-background-front-side-view-hospital-157878264.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img  src="https://thumbs.dreamstime.com/z/medical-surgery-isometric-people-cartoon-infographic-doctor-hospital-technology-vector-illustration-97140433.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://previews.123rf.com/images/kakigori/kakigori1901/kakigori190100037/116212821-doctor-explaining-x-ray-diagnose-to-ill-patient-man-on-bed-and-nurse.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>

                      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label"><h2><b><u>ABOUT US:</u></b></h2> </label>
                      </div>

                      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label"><h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel tempore id vitae dicta cum labore rerum quos a sit autem aperiam quasi ipsa non numquam sapiente recusandae quod, expedita explicabo.</h5></label>
                      </div>

                      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label"><h2><b><u>VISION:</u></b></h2> </label>
                      </div>

                      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label"><h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel tempore id vitae dicta cum labore rerum quos a sit autem aperiam quasi ipsa non numquam sapiente recusandae quod, expedita explicabo.</h5></label>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>
