<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h3><b>DEPARTMENT</b></h3></label>
                    <select name="" id="" class="form-control">
                        <option value="Outpatient Department (OPD)">Outpatient Department (OPD) </option>
                        <option value="Inpatient Service (IP)">Inpatient Service (IP)</option>
                        <option value="Medical Department">Medical Department</option>
                        <option value="Nursing Department">Nursing Department</option>
                        <option value="Paramedical Departments">Paramedical Departments </option>
                        <option value="Pathology Department">Pathology Department</option>
                        <option value="Physical Medicine and Rehabilitation Department">Physical Medicine and Rehabilitation Department</option>
                        <option value="Operation Theatre Complex (OT)">Operation Theatre Complex (OT)</option>
                        <option value="Pharmacy Department">Pharmacy Department</option>
                        <option value="Radiology Department (X-ray Department)">Radiology Department (X-ray Department)</option>
                        <option value="Dietary Department">Dietary Department</option>
                        <option value="Non-Professional Services (Business Management)">Non-Professional Services (Business Management)</option>
                        <option value="Purchasing Department">Purchasing Department</option>
                        <option value="Central Sterile Supply Department (CSSD)">Central Sterile Supply Department (CSSD)</option>
                        <option value="Medical Record Department (MRD)">Medical Record Department (MRD)</option>
                        <option value="Personnel Department">Personnel Department</option>
                    </select> 
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button class="btn btn-primary"><b>SEARCH</b></button>
                </div>
            </div>
        </div>
    </div>
</div>
