<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h3><b>DEPARTMENT</b></h3></label>
                    <select name="" id="" class="form-control">
                        <option value="Anesthesiologists">Anesthesiologists</option>
                        <option value="Cardiologists">Cardiologists/option>
                        <option value="Gastroenterologists">Gastroenterologists</option>
                        <option value="Nephrologists">Nephrologists</option>
                        <option value="Neurologists">Neurologists </option>
                        <option value="Ophthalmologists">Ophthalmologists</option>
                        <option value="Pediatricians">Pediatricians</option>
                        <option value="Rheumatologists">Rheumatologists</option>
                        <option value="General Surgeons">General Surgeons</option>
                        <option value="Plastic Surgeons">Plastic Surgeons</option>
                       
                    </select> 
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button class="btn btn-primary"><b>SEARCH</b></button>
                </div>
            </div>
        </div>
    </div>
</div>
